* {
    font-family: 'Rockwell', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    
    margin-top: 100px;
}
footer p {
    text-align: center;
    color: gray;
    margin: 20px;
}

.maincontent {
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

.maincontent p {
    text-align: justify;
}

.clearer {
    clear: both;
}

/*fuer kuenstler-gallery*/
.thumbnail {
    width: 100px;
    height: 100px;
}

.left_gallery {
    display: inline-block;
    width: 50%;
    height: 200px;
    float: left;
    overflow: auto;
    margin-bottom: 50px;
}
.left_gallery img {
    display: inline;
    float: left;
}

.right_gallery {
    display: inline-block;
    text-align: right;
    width: 50%;
    height: 200px;
    float: right;
    overflow: auto;
    margin-bottom: 50px;
}

.right_gallery img {
    display: inline-block;
    float: right;
}

 /* expanding search field */
input[type=text] {
    width: 100px;
    padding: 4px 8px;
    color: #ccc;
    background: white;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 1px 0 #222;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    float: right;
    -webkit-transition: all ease-in-out .3s;
    height: 65%;
}

input[type=text]:focus {
    width: 165px;
    outline: none;
    background: white;
    box-shadow: none;
    border-bottom-color: transparent;
    color: #666;
}

/*fuer main */
h1 {
    text-shadow: -0.07em -0.07em #aaa;
    font-family: 'Rockwell', sans-serif;
    color: #777;
}

/*fuer login-logout Ansicht*/
li.vis {
    display: inherit;
}
li.unvis {
    display: none;
}
#unvis {
    display: none;
}

/* Sheree 
.bilder img {
    height:200px;
    width: 30%;
    display: inline-block;
    float:left;
    padding: 20px;
}

.buttons {
    margin-top: 250px;
}
*/


/* Sheree neu test */
.bilder img{
    height:250px;
    width: 40%;
    display: inline-block;
    float:left;
    padding: 27px;

}

.buttons{
    margin-top: 80px;
    display: inline-block;
    margin: 27px;
}

#teil2{
    position: relative;
    left: 280px;
}

#teil1{
    position: relative;
    left: 71px;
}

.content {
    display: inline-block;
    margin: 27px;
}

#titleA, #titleB {
        display: inline-block;
        margin: 10px;
        position: relative;
        float: left;
}

.einleitung{
    top:45px;
    left: 146px;
    float:left;
    position: absolute;
}

#teil11, #teil22, #A, #B, #erstes, #zweites{
    display:none;
}

#teil11,#teil22{
    position: relative;
    top: 100px;
    left: 28px;
}

/* flickrgallery */
#photos {
    display: inline-block;
    float: left;
    margin-bottom: 50px;
}

#photos img {
    display: inline-block;
    float: left;
}

/* impressum */

h3 {
    text-shadow: -0.07em -0.07em #ccc;
    font-family: 'Rockwell', sans-serif;
    color: #aaa;
}

.imp_left {
    width: 30%;
    display: inline-block;
}

.imp_right {
    width: 60%;
    display: inline-block;
    text-align: justify;
}