*{
    font-family: 'Rockwell', sans-serif;
}
body {
    width: 100%;
    height: 100%;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-top: 100px;
}

footer p {
    text-align:center;
    color:gray;
    margin: 20px;
}

.maincontent {
    width: 100%;
    margin: 0 auto;
    padding: 0 120px;
}

.maincontent p {
    text-align: justify;
}

.clearer {
    clear:both;
}

.thumbnail {
    width: 75px;
    height: 75px;
}

.gallery {
    text-align: center;
    width: 100%;
    height: 75%;
    overflow: auto;
}

input[type=text] {
    width: 100px;
    padding: 4px 8px;
    color: #ccc;
    background: white;
    font-size: 12px;
    border-radius: 20px;
    border: none;
    box-shadow: inset 0px 1px 0 #222;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    float: right;
    -webkit-transition: all ease-in-out .3s;
    height: 65%;
}

input[type=text]:focus {
    width: 165px; 
    outline: none;  
    background: white;
    box-shadow: none;
    border-bottom-color: transparent;
    color: #666;
}

.left_gallery {
    display: inline-block;
    width: 50%;
    height: 200px;   
    float: left;
    overflow: auto;
    margin-bottom: 50px;
}

.left_gallery img {
    display: inline;
    float: left;
}

.right_gallery {
    display: inline-block;
    width: 50%;
    height: 200px;
    float: right;
    overflow: auto;
    margin-bottom: 50px;
}

.right_gallery img {
    display: inline-block;
    float: left;
}